<output id="alerts" class="absolute bottom-0 right-0 w-96"></output>

<section>
  <h1>Invitations</h1>

  <fieldset>
    <label for="invitation_code" class="block">Invitation Code</label>
    <input id="invitation_code" class="block" value="<%= @invitation_code %>" readonly>

    <button type="button" value="<%= @invitation_code %>"
            data-controller="clipboard clone"
            data-action="click->clipboard#copy click->clone#append">
      Copy to clipboard

      <template data-clone-target="template">
        <%= turbo_stream.append "alerts" do %>
          <%= render "alert" do %>
            Copied to clipboard
          <% end %>
        <% end %>
      </template>
    </button>
  </fieldset>

  <fieldset>
    <label for="paste">Paste</label>
    <input id="paste">
  </fieldset>
</section>
